body {
  font-family: "Poppins", sans-serif;
  color: #2c3e50;
}

button {
  box-sizing: border-box;
}

.App {
  width: 100%;
}

.displayCard {
  position: relative;
  margin: 32px auto 32px auto;
  padding: 16px;
  background-color: #ecf0f1;
  width: 500px;
  border-radius: 12px;
}

.editCard {
  width: 500px;
  position: relative;
  background-color: pink;
  margin: 32px auto 32px auto;
  padding: 16px;
  color: #ecf0f1;
  background-color: #3498db;
  border-radius: 12px;
  padding-bottom: 50px;
}

.editCard input {
  border: none;
  border-bottom: 2px solid black;
}

.editButton {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  margin: 4px;
  padding: 4px 16px 4px 16px;
  background-color: #3498db;
  color: white;
  font-size: 1.2rem;
  border-radius: 12px;
  transition: .3s;
  border: 2px solid #3498db;
}

.editButton:hover {
  color: #3498db;
  background-color: white;
  border: 2px solid #3498db;
}

.deleteButton {
  position: absolute;
  top: 50px;
  right: 5px;
  border: none;
  margin: 4px;
  padding: 4px 16px 4px 16px;
  background-color: white;
  font-size: 1.2rem;
  border-radius: 12px;
  transition: .3s;
  border: 2px solid white;
}

.deleteButton:hover {
  border: 2px solid white;
  background-color: #c0392b;
}


.addPerson {
  position: absolute;
  width: 150px;
  height: 10px;
  right: 25px;
  top: 25px;
  overflow: hidden;
  transition: .3s;
  background-color: white;
  color: black;
  font-size: 1.2rem;
  padding: 32px;
  border-radius: 12px;
  
}

.addPerson input {
  padding: 4px;
  border: none;
  border-radius: 12px;
}

.addPerson-p,
.editPerson-p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 4px 2px 8px 16px;
}

.addPerson-p label {
  width: 150px;
}

.editPerson-p label {
  width: 150px;
}

.addPerson-p input,
.editPerson-p input
{
  width: 350px;
  margin: 2px;
  margin: 2px 2px 2px 16px;
  border-radius: 0 12px 12px 0;
  font-size: 1.2rem;
  padding: 4px;
}

.editPerson-p input {
  border: none;
  padding: 4px 8px 4px 8px;
  width: 80%;
  margin: 2px 2px 2px 16px;
  border-radius: 0 12px 12px 0;
  font-size: 1.2rem;
  color: #2c3e50;
}


.updateButton {
    position: absolute;
    bottom: 0;
    left: 40%;
    margin-bottom: 16px;
    border: none;
    margin: 4px;
    padding: 4px 16px 4px 16px;
    font-size: 1.2rem;
    border-radius: 12px;
    transition: .3s;
    background-color: white;
    color: #3498db;
    border: 2px solid white;
}

.updateButton:hover {
  background-color: #3498db;
  color: white;
  border: 2px solid white;

}

.name-field {
    font-size: 1.5rem;
    color: #3498db;
    font-weight: 700;
    font-size: 2rem;
    margin: 2px;
}

.name-field input {
    font-size: 2rem;
    width: 40%;
    margin: 2px;
    color: #2c3e50;

}

.name-field label {
  width: 0px;
}

.displayCard-p {
  width: 100%;
  margin: 2px;
}

.contact-info {
  background-color: #3498db;
  padding: 4px 8px 4px 8px;
  width: 80%;
  margin: 4px 2px 8px 16px;
  border-radius: 0 12px 12px 0;
}

.label-p {
  margin: 0;
  padding: 0;
  width: 90%;
}

.newContact {
  margin: auto;
  padding: 4px 16px 4px 16px;
  font-size: 1.2rem;
  border: none;
  border-radius: 15px;
  color: white;
  background-color: white;
  transition: .2s;
  border: 2px solid #3498db;
}

.newContact:hover {
  color: #3498db;
  background-color: #3498db;
  border: 2px solid white;
}

.cancelButton {
  color: #3498db;
  background-color: white;
  transition: .3s;
}

.cancelButton:hover {
  color: white;
  background-color: #3498db;
  border: 2px solid white;
}

.submitContact {
  margin-bottom: 16px;
  margin-top: 16px;
  border: none;
  margin: 4px;
  width: 40%;
  margin-left: 30%;
  padding: 4px 16px 4px 16px;
  font-size: 1.2rem;
  border-radius: 12px;
  transition: .3s;
  background-color: white;
  color: #3498db;
  border: 2px solid white;
}

.submitContact:hover {
background-color: #3498db;
color: white;
border: 2px solid white;
}